node_modules/
outputs/
dist/
*.log
.DS_Store
*.tsbuildinfo
# packages/*/node_modules/
packages/*/dist/
packages/*/dist-chrome/
packages/*/dist-firefox/
*.cpuprofile

# Environment
.env

# Editor files
.vscode/
.zed/
.idea/
*.swp
*.swo
*~

# Package specific
.npm/
coverage/
.nyc_output/
.pi_config/
tui-debug.log
compaction-results/
.opencode/
syntax.jsonl
out.jsonl
pi-*.html
out.html
packages/coding-agent/binaries/

# Private planning docs
[Tt][Oo][Dd][Oo].md
[Tt][Oo][Dd][Oo][Ss].md
[Tt][Oo][Dd][Oo]-*.md
[Tt][Oo][Dd][Oo]_*.md
*-[Tt][Oo][Dd][Oo].md
*_[Tt][Oo][Dd][Oo].md
*-[Tt][Oo][Dd][Oo]-*.md
*_[Tt][Oo][Dd][Oo]_*.md
[Pp][Ll][Aa][Nn].md
[Pp][Ll][Aa][Nn][Ss].md
[Pp][Ll][Aa][Nn]-*.md
[Pp][Ll][Aa][Nn]_*.md
[Pp][Ll][Aa][Nn][Nn][Ii][Nn][Gg].md
[Pp][Ll][Aa][Nn][Nn][Ii][Nn][Gg]-*.md
[Pp][Ll][Aa][Nn][Nn][Ii][Nn][Gg]_*.md
*-[Pp][Ll][Aa][Nn].md
*_[Pp][Ll][Aa][Nn].md
*-[Pp][Ll][Aa][Nn]-*.md
*_[Pp][Ll][Aa][Nn]_*.md

# Tmp
coffee_table_workspace/
references/
*.html
blenderbench/
plans/
.pi/hf-sessions/
.pi/hf-sessions-backup/
collect.sh
